

.new {
  width: 100%;
  display: flex;

  .newContainer {
    flex: 6;

    .top,
    .bottom {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 10px;
      margin: 20px;
      display: flex;

      h1 {
        font-size: 20px;
      }

      .left {
        flex: 1;
        text-align: center;
        justify-content: center;
        align-items: center;

        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          object-fit: cover;
        }
        .grid{
         display: grid;
         grid-template-columns: repeat(2,1fr);
         gap:15px;
         max-height: 70vh;
        
         overflow-y: scroll;
         overflow-x: hidden;
         scrollbar-width: thin;

         &::-webkit-scrollbar {
          width: 0;
          height: 0;
        }
         

         .btn-add{
           display: flex;
           transition: all .4s ease-in-out;
           justify-content: center;
           align-items: center;
           height: 50%;
           width:50%;
           border:none;
         
           border-radius: 7px;
           font-weight: bold;
           font-size: 84px;
           margin: auto;
           &:hover{
            height: 70%;
            width:70%;  
           }
          }

          .imageCell{
          
            position:relative;
            margin-bottom: 5px;
           
  
            img {
              z-index: -2;
              width: 200px;
              height: 200px;
              border-radius: 10%;
              object-fit: cover;
            
            }
            .delete{
              z-index: 2;
               position: absolute;
               right: 1%;
                top:1%;
               transition: all .4s ease-in-out;
               height: 20%;
               width:20%;
               border:none;
               border-radius: 3px;
  
               &:hover{
                  transform: scale(1.2);
               }
               &:before  {
                content: '';
                position: absolute;
                left: calc(50% - 1.5px);
                top: 10%;
                width: 3px;
                height: 80%;
      
                }
  
                &:after {
                  content: '';
                  position: absolute;
                  right: calc(50% - 1.5px);
                top: 10%;
                width: 3px;
                height: 80%;
              
                  }
    
  
                &:before {
                  transform: rotate(45deg);
                  }
                &:after {
                 transform: rotate(-45deg);
                }
               
            }
  
          }
          
         
      }

      
        
      }
      

      .right {
        flex: 2;

        form {
          
          display: flex;
          flex-wrap: wrap;
          gap: 30px;
          justify-content: space-around;

          .formInput {
            width: 40%;

            label {
              display: flex;
              align-items: center;
              gap: 10px;

              .icon {
                cursor: pointer;
              }
            }

            input {
              width: 100%;
              padding: 5px;
              border: none;
              border-bottom: 1px solid gray;
            }
           
            
          }

          .GroupRadio{
            width: 40%;
           // background-color: #eee;
            border-radius: 15px;
            padding: 5px 0 0 10px;
            .formRadio {
              margin-bottom: 5px;
             
              input {
                width: 20%;
                padding: 5px;
                border: none;
                border-bottom: 1px solid gray;
              }
             
              
            }
          }

          

          button {
            width: 150px;
            padding: 10px;
            border: none;
          border-radius: 10px;
            font-weight: bold;
            cursor: pointer;
            margin-top: 10px;

            &:disabled{
              cursor: not-allowed;
            }
          }
        }
      }
    }
    .status-message {

      display: flex;
      justify-content: center;
      color: red;
    }
  
  }
}
