.new {
  width: 100%;
  display: flex;

  .newContainer {
    flex: 6;

    .top,
    .bottom {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 10px;
      margin: 20px;
      display: flex;


      .left {
        flex: 1;
        text-align: center;
        justify-content: center;
        align-items: center;

        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          object-fit: cover;
          opacity: 50%;

        }

        .grid {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 15px;
        }

      }
      
      


      .right {
        flex: 2;

        form {

          display: flex;
          flex-wrap: wrap;
          gap: 30px;
          justify-content: space-around;

          .formInput {
            width: 40%;

            label {
              display: flex;
              align-items: center;
              gap: 10px;

              .icon {
                cursor: pointer;
              }
            }

            input {
              width: 100%;
              padding: 5px;
              border: none;
              border-bottom: 1px solid gray;
            }


          }

          .GroupRadio {
            margin-top: 8px;
            width: 40%;
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            border-radius: 15px;
            padding: 5px 0 0 10px;

            .formRadio {

              margin-bottom: 5px;

              input[type="radio"] {
                width: 20%;
                padding: 5px;
                border: none;
                border-bottom: 1px solid gray;

                &:checked {
                  background-color: red;
                }

                &:not(:checked) {
                  background-color: black;
                  border-color: gray;
                }

                &:hover {
                  background-color: red;
                }
              }







            }
          }



          button {
            width: 150px;
            padding: 10px;
            border: none;
            font-weight: bold;
            cursor: pointer;
            margin-top: 10px;

            &:disabled {
              cursor: not-allowed;
            }
          }
        }
      }
    }

    .tasks{
      .task{
        display: flex;
        gap: 5px;
        margin: 0 5px 5px;
        
        align-items: center;

        .task-element{
          display: flex;
          flex-direction: column;
          background-color: gray;
          height: 60px;
         
          .label{
             
            text-align: start;
          }
          input,textarea{
            border:.5px solid ;
            border-radius: 4px ;
            height: 30px;
            width: 90%;
            margin: 0 auto;
            padding-left:10px;
            font-size: 20px;
          }
         
        }
        button{
          justify-content: end;
          height: 50px;
         
        }
      }
    }

    .status {

      display: flex;
      justify-content: center;
      color: red;
    }
  }
}